{% include 'header.twig' %}

<p><a href="{{ app.request.baseUrl ~ '/add' }}" class="btn"><b class="icon-plus-sign"></b> Add a Photo</a></p>


 <div class="control-group">
    <label class="control-label" for="photoFile">Photo to Get</label>
    <div class="controls">
      <p>FileName:</p> 
	  <input type="text" name="photoIndex" id="photoIndex">
    </div>
  </div>

<!-- div class="row-fluid">
    {%  for image in images %}
        <div class="uploaded-image">
            <img src="{{ image.url }}" class="img-polaroid">
            <p class="caption">{{ image.caption }}</p>
        </div>
    {%  endfor %}
</div -->

{% include 'footer.twig' %}