{% include 'header.twig' %}

<p><a href="{{ app.request.baseUrl ~ '/add' }}" class="btn"><b class="icon-plus-sign"></b> Add a Photo</a></p>

{% if data %}<pre>{{ data }}</pre>{%  endif %}

<form action="{{ path(app.request.baseUrl ~ '/get',{'nheight':nheight}) }" method="post" class="form-horizontal" enctype="multipart/form-data" >
 <div class="control-group">
    <label class="control-label" for="photoFile">Photo to Get</label>
    <div class="controls">
	  <input type="text" name="photoIndex" id="photoIndex">
	  <button type="submit" class="btn btn-primary"><b class="icon-ok icon-white"></b> Retrieve Photo</button>
    </div>
  </div>
 </form>
 
<a href="{{ app.request.baseUrl ~ '/' }}" class="btn"><b class="icon-chevron-left"></b> Go Back</a>
{% include 'footer.twig' %}