{% include 'header.twig' %}

<p><a href="{{ app.request.baseUrl ~ '/add' }}" class="btn"><b class="icon-plus-sign"></b> Add a Photo</a></p>
<p><a href="{{ app.request.baseUrl ~ '/get/params?length={length}&width={width}' }}" class="btn"><b class="icon-plus-sign"></b> Get a Photo</a></p>

{% include 'footer.twig' %}   